<div id="picture-posts col-md-4" class="posts-container">
    <a href="" class="post-column-title" style="text-decoration: none;">
        <h2 class="text-center" style="color: rgb(0, 0, 0); text-shadow: 2px 2px rgb(241, 135, 255);">[ Photos ]</h2>
    </a>
    <div class="post">
        {{photo}}
    </div>
</div>