<nav class="navbar navbar-expand-lg navbar-light">

    <div class="back-button-container col-md-4">
        <a href="/home" type="button" name="goback" class="btn btn-info btn-md" id="go-back-btn">Go Back</a>
    </div>

    <div class="text-center homepage-title-plus-container col-md-4">
        <h1 class="text-center">Simple Social</h1>
    </div>

    <div class="text-center col-md-2">
    </div>

    <div class="text-center user-info col-md-2">
        <i class="fab fa-joomla" style="font-size: 38px;"></i>
        <h6>{{ name }}</h6>
        <span class="badge" style="color: rgb(231, 218, 31);">{{ avatar }}</span>
    </div>

</nav>

<section class="card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form class="new-post-form">
        <div>
            <label for="post-content">Content</label>
            <textarea class="card-input-textarea" id="post-content" name="post-content"></textarea>
        </div>
        <button class="card-button" type="submit" class="btn">Upload</button>
    </form>
</section>

<section class="card">
    <div class="card-header">
        <h2>Upload a Photo</h2>
    </div>
    <form action="/upload/photo" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*" />
        <input type="submit" value="Upload Photo" />
    </form>
</section>
<script src="/javascript/create-post.js"></script>