<nav class="navbar navbar-expand-lg navbar-light">

        <div class="col-md-4">
            <div class="sign-up-buttons">
                <a href="/home"><input type="submit" name="goback" class="btn btn-info btn-md" id="go-back-btn" value="Go Back"></a>
            </div>
        </div>

        <div class="text-center homepage-title-plus-container col-md-4">
            <h1 class="text-center" style="font-size: 62px;">Simple Social</h1>
        </div>

        <div class="text-center col-md-2">
        </div>

        <div class="text-center user-info col-md-2">
            <img src="https://ui-avatars.com/api/?name={{user.first}}+{{user.last}}?color=ff0000">
            <h6>{{user.first}}{{user.last}}</h6>
            <div class="log-out-btn-container">
                <a href="/" type="button" name="logout" class="btn btn-info btn-md" id="log-out-btn">Log Out</a>
            </div>
        </div>
    </div>

      </nav>

<div class="create-container">
    <section class="card post-create">
        <div class="card-header" style="color: white;">
            <h2>Create New Post</h2>
        </div>
        <form class="new-post-form">
            <div>
                <label for="post-content" style="color: white;"></label>
                <input class="card-input-textarea" id="post-content" name="post-content" style="font-size: 18px" placeholder="Content"></input>
            </div>
            <div class="upload-post-btn-container">
                <button class="card-button" type="submit" id="upload-post-btn">Upload</button>
            </div>
        </form>
    </section>
</div>

<script src="/javascript/create-post.js"></script>
