 {{ #each posts as |posts| }}
<div class="row post-row">
    {{> text-info posts }}
</div>
 {{/each}}

 {{ #each photos as |photos| }}
<div class="row post-row">
    {{> photo photos }}
</div>
 {{/each}}

 {{ #each trending as |trending| }}
<div class="row post-row">
    {{> api trending }}
</div>
 {{/each}}