body {
  font-family: 'Londrina Solid', cursive;
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url("./page-bg.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: saturate(180%) blur(1rem);
  height: 120vh;
}

p {
  margin-bottom: 0 !important;
  align-content: center;
  align-items: center;
}

h4 {
  margin: 0 0 0 0;
}

.text-info {
    color: black !important;
    font-size: 3rem !important;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: none;
  background-color: rgba(68, 65, 65, 0);
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.log-in-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-btn {
  margin: 0 10px 0 10px;
  color: black;
  background-color: rgb(231, 218, 31);
  border-color: black;
  font-size: 1.1rem;
}

#sign-up-btn {
margin: 0 10px 0 10px;
color: black;
background-color: rgb(231, 218, 31);
border-color: black;
font-size: 1.1rem;
}

#go-back-btn-signup-page {
  margin: 20px 20px 0 20px;
  color: black;
  background-color: hsl(0, 100%, 70%);
  border-color: black;
  font-size: 1.1rem;
  }
<<<<<<< HEAD
  
  #go-back-btn-signup-page {
    margin: 20px 20px 0 20px;
    color: black;
    background-color: hsl(0, 100%, 70%);
    border-color: black;
    font-size: 1.1rem;
    }
  
  #go-back-btn {
    color: black;
    background-color: hsl(0, 100%, 70%);
    border-color: black;
    font-size: 1.1rem;
    }
  
  .short-form-group {
    width: 100%;
    display: inline-flex;
    justify-content: left;
    margin: 20px 0 5px 0;
  }
  
  .short-form {
    width: 45%;
  }
  
  #firstname {
    margin: 10px 20px 10px 0;
  }
  
  #lastname {
    margin: 10px 0 10px 30px;
  }
  
  .navbar {
    justify-content: center;
  }
  
  .homepage-title-plus-container {
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .user-info {
    max-width: 5%;
    display: flex;
    flex-direction: column;
    color: rgb(231, 218, 31);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 20px;
  }
  
  #log-out-btn {
    background-color: red;
    border: black;
    width: 25%;
    height: 65%;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
  #create-post-btn {
    margin: 5px 0 5px 0;
    color: rgb(20, 117, 33);
    text-shadow: 1px 1px 1px black;
    }
  
  .main-container {
    margin: 70px 50px 50px 50px;
  }
  
  .post-row {
    display: flex;
    justify-content: space-evenly;
  }
  
  .posts-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    min-width: 30%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: white;
    border-radius: 5px;
    flex-direction: column;
  }
  
  .post {
    text-align: center;
    margin: 10px 0 10px 0;
    width: 100%;
    /* background-color: rgba(111, 185, 255, 0.555); */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }
  
  
  
  
  
  
  /* pseudo styling */
  #log-in-btn:hover {
    transform: scale(1.1);
    transition: 0.05s;
  }
  
  #sign-up-btn:hover {
    transform: scale(1.1);
    transition: 0.05s;
  }
  
  #go-back-btn:hover {
    transform: scale(1.1);
    transition: 0.05s;
  }
  
  #log-out-btn:hover {
    transform: scale(1.1);
    transition: 0.05s;
=======

#go-back-btn {
  color: black;
  background-color: hsl(0, 100%, 70%);
  border-color: black;
  font-size: 1.1rem;
>>>>>>> mlinden
  }

.short-form-group {
  width: 100%;
  display: inline-flex;
  justify-content: left;
  margin: 20px 0 5px 0;
}

.short-form {
  width: 45%;
}

#firstname {
  margin: 10px 20px 10px 0;
}

#lastname {
  margin: 10px 0 10px 30px;
}

.navbar {
  justify-content: center;
}

.homepage-title-plus-container {
  display: flex;
  flex-direction: column;
  color: black;
}

.user-info {
  min-width: 10%;
  display: flex;
  flex-direction: column;
  color: rgb(231, 218, 31);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-radius: 20px;
}

#log-out-btn {
  background-color: red;
  border: black;
  width: 25%;
  height: 65%;
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#create-post-btn {
  margin: 5px 0 5px 0;
  color: rgb(20, 117, 33);
  text-shadow: 1px 1px 1px black;
  }

.main-container {
  margin: 70px 50px 50px 50px;
}

.post-row {
  display: flex;
  justify-content: space-evenly;
}

.posts-container {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  min-width: 30%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: white;
  border-radius: 5px;
  flex-direction: column;
}

.post {
  text-align: center;
  margin: 10px 0 10px 0;
  width: 100%;
  /* background-color: rgba(111, 185, 255, 0.555); */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}






/* pseudo styling */
#log-in-btn:hover {
  transform: scale(1.1);
  transition: 0.05s;
}

#sign-up-btn:hover {
  transform: scale(1.1);
  transition: 0.05s;
}

#go-back-btn:hover {
  transform: scale(1.1);
  transition: 0.05s;
}

#log-out-btn:hover {
  transform: scale(1.1);
  transition: 0.05s;
}

#create-post-btn:hover {
  transform: scale(1.1);
  transition: 0.05s;
  }

.post-column-title:hover {
  transform: scale(1.1);
  transition: 0.05s;
}
