<nav class="navbar navbar-expand-lg navbar-light">

    <div class="back-button-container col-md-4">
        <a href="/" type="button" name="goback" class="btn btn-info btn-md" id="go-back-btn">Go Back</a>
    </div>

    <div class="text-center homepage-title-plus-container col-md-4">
        <h1 class="text-center">Simple Social</h1>
        <a href="" id="create-post-btn"><i class="fas fa-plus" style="font-size: 60px; color: rgb(0, 0, 0);"></i></a>
    </div>

    <div class="text-center col-md-2">
    </div>

    <div class="text-center user-info col-md-2">
        <i class="fab fa-joomla" style="font-size: 38px;"></i>
        <h6>{{ name }}</h6>
        <h6>Posts: <span class="badge" style="color: rgb(231, 218, 31);">{{ numberposts }}</span></h6>
    </div>

</nav>
{{#each this}}
<div class="row post-row">
    <p>{{post_text}}</p>
</div>
{{/each}}