<div id="text-posts col-md-4" class="posts-container">
    {{#each this}}
    <a href="" class="post-column-title" style="text-decoration: none;">
    <div class="post">
        <h4class="text-center" style="color: rgb(0, 0, 0); text-shadow: 2px 2px rgb(241, 135, 255);">{{post_text}}</h4>
    </div>
    {{/each}}
</div>
